aio-pika==5.5.3
aioelasticsearch==0.5.2
aiohttp==3.5.4
aiormq==2.5.3
async-timeout==3.0.1
attrs==19.1.0
chardet==3.0.4
elasticsearch==6.3.1
idna==2.8
multidict==4.5.2
pamqp==2.3.0
PyYAML==5.1.1
urllib3==1.25.1
yarl==1.3.0
-e git+https://github.com/oleggator/python-advanced.git#egg=asyncorm&subdirectory=asyncorm
asyncpg==0.21.0
